################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.lock
/.vs/Sensores/v15/Server/sqlite3
